{% load static %}
<script src="{% static 'cpm/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/metisMenu.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/simplebar.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/waves.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/additional-methods.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/jquery.steps.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'cpm/assets/js/notif_seen.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'plugins/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
