.bx-tada {
     -webkit-animation: tada 1s forwards;
    animation: tada 1s ease forwards;
}
.dropdown-item {

    padding: 0.8rem 1.5rem;
    }
    .dropdown-divider,.dropdown-menu {

    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px !important;
}
.gh{
	background: #fafafa;
    border-bottom: 4px solid #323642;
    padding-bottom: 0.95rem !important;
}
.sortd{
	    border-bottom: 2px solid grey;
	    margin-right: 15px;
	    padding-left: 7px;
    padding-right: 7px;
}
.sortd button{
	  /*  width: 70px;*/
	      margin-right: 0px !important;
    text-align: center;
    color: #ababab;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.sortd .btn-check:focus+.btn, .btn:focus,.sortd .btn-link:hover {
    outline: none;

    box-shadow: none;
    text-decoration: none !important;
}
.sortd1 .btn-check:focus+.btn, .btn:focus,.sortd1 .btn-link:hover {
    outline: none;

    box-shadow: none;
    text-decoration: none !important;
}
.sortd1.searchin{
	    width: 130px;
    text-align: left;
    color: #ababab;
    border-bottom: 2px solid grey;
	    margin-right: 15px;
}
.sortd1.searchin input{
	text-align: left;
	color: #ababab;
}
.sortd1.searchin input:placeholder{
	color: #ababab;
}
.media-body h6{
	font-size: 1rem;
}
table.dataTable {

    margin-top: 14px !important;
    }
    .table>thead {
        background: #eff3f8;
}
body[data-layout="horizontal"] .page-content {
    margin-top: 70px;
    padding: calc(55px + 24px) calc(200px / 2) 60px calc(200px / 2);
}
body[data-layout="horizontal"] .page-content {
    padding-right: auto;
    padding-left: auto;
}
@media (min-width: 992px){
.topnav .dropdown .dropdown-menu {
    margin-top: 2px !important;

}
}

.sortd:hover {
    background: #4458b8;
    color: #fff !important;
    border-bottom: 0px;
}
th.sorting {
    text-align: center;
}
.sortd:hover button {
	color: #fff !important;
	}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {

    opacity: 0;
    display: none;
}
.nav-tabs-custom .nav-item {

    flex-grow: 0;

}
.nav-tabs-custom .nav-item .nav-link {
    width: 220px
}
