{% extends 'layouts/top.html' %}
{% load static %}
{% load custom_filters %}
{% block header %}
<title>Customers</title>
{% endblock %}
{% block style %}
<link href="{% static 'assets/css/user-profile.css' %}" rel="stylesheet" type="text/css" />
<style>

</style>
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="container-fluid" style="margin-top: 135px;">
        Customers page is in progress
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {

});
</script>
{% endblock %}