{% extends "layouts/top.html" %}
{% load static %}
{% block header %}
<title>Admin Users</title>
{% endblock %}
{% block style %}
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<link href="{% static 'assets/css/apps/mailbox.css' %}" rel="stylesheet" type="text/css"/>
<style>
.table-head {
    background-color: #dce0f7 !important;
}

.table-td {
    padding-top: 20px !important;
    background-color: #f2f2f2 !important;
}

.client-table {
    border: 0.5px solid #d1cfcf;
    border-radius: 2px;
    margin-top: 21px;
    background-color: #f2f2f2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

tr:hover td {
    background-color: #e8e6e6 !important;
}

.dropdown-item {
    padding: 0.5rem 1rem;
}

.meta-info p {
    font-size: 16px;
    margin-bottom: 5px;
}

.dropdown-menu.show {
    display: block !important;
}
</style>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="page-content">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item font-size-14"><a href="#">Home</a></li>
                <li class="breadcrumb-item font-size-14 active">admin</li>
             </ol>
        <div class="client-table">
        <table class="table">
                <thead>
                    <tr>
                        <th class="table-head">User Id</th>
                        <th class="table-head">First Name</th>
                        <th class="table-head">Last Name</th>
                        <th class="table-head">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="padding-left: 25px;" class="table-td">{{user.id}}</td>
                        <td class="table-td">{{user.first_name}}</td>
                        <td class="table-td">{{user.last_name}}</td>
                        <td class="table-td">{{user.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

      <div class="rightbar-overlay"></div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
